{% include 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% if not editMode %}
        <h1>Write an article</h1>
    {% else %}
        <h1>Edit an article</h1>
    {% endif %}

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Title"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Content"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "Image's URL"}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            save
        {% else %}
            create
        {% endif %}
    </button>

    {{ form_end(formArticle )}}
    

{% endblock %}

