{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name}}!{% endblock %}

{% block body %}

<section class="articles">
    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Written in {{ article.createdAt | date
            ('d/m/y') }} at {{ article.createdAt | date('H:i') }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <br>
                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Read</a>
            </div>
            <hr>
        </article>
    {% endfor %}
</section>

{% endblock %}
